/*-----------------------------------------------------Applied To All-----------------------------------------------------*/
*{
    font-family: Arial, Helvetica, sans-serif;
}


/*--------------------------------------Apply To All Example Under The Input Field Box------------------------------------*/
#Example{
    font-size: small;
    opacity: 0.65;
}


/*--------------------------General Editting For Input Box For 3 In A Row (More Specific Edits Down)----------------------*/
#User-Input-Data-1{
    height: 30px;
    width: 230px;
    margin: 15px auto 9px;
    border: rgb(182, 182, 182) solid 2px;
    border-radius: 4px;
}


/*--------------------------General Editting For Input Box For 2 In A Row (More Specific Edits Down)----------------------*/
#User-Input-Data-2{
    height: 30px;
    width: 345px;
    margin: 15px auto 9px;
    border: rgb(182, 182, 182) solid 2px;
    border-radius: 4px;
}

/*--------------------------General Editting For Input Box For 2 In A Row (More Specific Edits Down)----------------------*/
#User-Input-Data-3{
    height: 30px;
    width: 710px;
    margin: 15px auto 9px;
    border: rgb(182, 182, 182) solid 2px;
    border-radius: 4px;
}


/*------------------------------------General Editing of Div Tag Of Different Input Box-----------------------------------*/
.General{
    display: flex;
    justify-content: space-around;    /* To give equal space in between and from left and right side */
    margin-bottom: 40px;
}


/*-------------------------------------------------Form Tag Editting Start------------------------------------------------*/
Form{
    margin: 10px auto 0;
    padding: 10px 20px 0;
    width: 730px;
    border: 2px solid rgb(182, 182, 182);
}
/*--------------------------------------------------Form Tag Editting End-------------------------------------------------*/


/*--------------------------------------------------Category Heading Start------------------------------------------------*/
.basic{
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: rgb(182, 182, 182);
    align-content: center;
    font-weight: bold;
    padding-left: 20px;
}
/*---------------------------------------------------Category Heading End-------------------------------------------------*/


/*----------------------------------------------------Container-2 Start---------------------------------------------------*/
select#User-Input-Data-2{          /*select#user esa isliye likha taki child class parent class ki property inherit kare*/
    height: 35px;
    width: 355px;
    background-color: transparent;
}
/*-----------------------------------------------------Container-2 End----------------------------------------------------*/


/*----------------------------------------------------Container-5 Start---------------------------------------------------*/
select#User-Input-Data-1{  
    height: 35px;
    background-color: transparent;
}
/*-----------------------------------------------------Container-5 End----------------------------------------------------*/
