*{
    font-family: Arial, Helvetica, sans-serif;
}

Form{
    margin: 10px auto 0;
    padding: 10px 20px 0;
    width: 900px;
    border: 2px solid rgb(182, 182, 182);
}

#Full-Name{
    font-weight: 500;
}

.basic{
    height: 50px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: rgb(182, 182, 182);
    align-content: center;
    font-weight: bold;
    padding-left: 20px;
}

.Name{
    display: flex;
}

#complete{
    /* margin-bottom: 9px;
    margin-top: 15px; */
    height: 30px;
    width: 220px;
    margin: 15px 50px 9px;
}

#name-design{
    font-size: small;
    opacity: 0.65;
}

