*{
    font-family: Arial, Helvetica, sans-serif;
}

Form{
    margin: 10px auto 0;
    padding: 10px 20px 0;
    width: 900px;
    border: 2px solid rgb(182, 182, 182);
}

input{
    width: 900px;
    height: 30px;
}

textarea{
    width: 900px;
}

select{
    width: 900px;
    height: 30px;
    background: transparent;
}

button{
    border: none;
    background: none;
    margin-bottom: 30px;
    font-size: medium;
    color: rgb(172, 172, 172);
    cursor: pointer;
}
